/* You can add global styles to this file, and also import other style files */
.nav {
    background-color: darkgray;
    width:100%;
    list-style-type: none;
    padding:0;
    margin:0;
}
li.nav{
    display: inline;
}
.navLink{
    text-decoration: none;
    margin:0px 10px 10px 0px;
    font-size: 1.5em;
    color:black;
    padding:0px;
}
.navLink:hover{
    background-color: rgb(88, 88, 88);
    color:white;
    margin:0px 10px 10px 0px;
    padding:0px;
}
body {
    width: 100%;
    margin:0;
    background-color: black;
    color:white;
}
.wrapper {
    margin: 0 auto;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.job {

}
.resumeSection{
    background-color: rgb(49, 49, 49);
    padding: 1em;
    border-radius: 10px;
    margin: 1em;
    width: 500px;
}
.images{
    display: flex;
    justify-content: center;
    gap:30px;
}
.header{
    padding:0px;
    margin:0px;
}